<servlet>
	<servlet-name>Twitterbot</servlet-name>
	<servlet-class>test</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Twitterbot</servlet-name>
	<url-pattern>/src/Twitterbot</url-pattern>
</servlet-mapping>
<security-constraint>
	<web-resource-collection>/cron/*</web-resource-collection>
	<auth-constraint>
			<role-name>admin</role-name>
	</auth-constraint>
</security-constraint>